.carousel-inner .item {
  background: #a7cfdf; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #a7cfdf 0%,
    #23538a 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #a7cfdf 0%,
    #23538a 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #a7cfdf 0%,
    #23538a 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
  text-align: center;
  height: 612px; /*change as your needs*/
}
.control-buttons {
  text-align: center;
}
.transition-timer-carousel-progress-bar {
  height: 3px;
  background-color: #a76225; /*progress bar color*/
  width: 0;
  margin: 0 0 0 0;
  border: none;
  z-index: 11;
  position: relative;
}
.carousel-control {
  z-index: 11;
}
.carousel-caption {
  margin: 0px 0px 180px;
}
